Repository openshift-knative/kn-plugin-event, pull requests merged in 2025-04, with the labels that each got.

#778 [release-1.16] Update Konflux configurations
  .konflux/applications/serverless-operator-136/components/kn-plugin-event-kn-event-116.yaml
  .konflux/applications/serverless-operator-136/components/kn-plugin-event-sender-116.yaml
  .konflux/applications/serverless-operator-136/components/kn-plugin-event-test-eventshub-116.yaml
  .konflux/applications/serverless-operator-136/components/kn-plugin-event-test-wathola-forwarder-116.yaml
  .tekton/docker-build.yaml
  .tekton/kn-plugin-event-kn-event-116-pull-request.yaml
  .tekton/kn-plugin-event-kn-event-116-push.yaml
  .tekton/kn-plugin-event-sender-116-pull-request.yaml
  .tekton/kn-plugin-event-sender-116-push.yaml
  .tekton/kn-plugin-event-test-eventshub-116-pull-request.yaml
  .tekton/kn-plugin-event-test-eventshub-116-push.yaml
  .tekton/kn-plugin-event-test-wathola-forwarder-116-pull-request.yaml
  .tekton/kn-plugin-event-test-wathola-forwarder-116-push.yaml
Labels: approved, ok-to-test

#784 [release-1.17] Update Konflux configurations
  .tekton/docker-build.yaml
  .tekton/kn-plugin-event-kn-event-117-pull-request.yaml
  .tekton/kn-plugin-event-kn-event-117-push.yaml
  .tekton/kn-plugin-event-sender-117-pull-request.yaml
  .tekton/kn-plugin-event-sender-117-push.yaml
  .tekton/kn-plugin-event-test-eventshub-117-pull-request.yaml
  .tekton/kn-plugin-event-test-eventshub-117-push.yaml
  .tekton/kn-plugin-event-test-wathola-forwarder-117-pull-request.yaml
  .tekton/kn-plugin-event-test-wathola-forwarder-117-push.yaml
Labels: needs-ok-to-test

#780 [main] Update dependabot configurations
  .github/dependabot.yml
Labels: needs-ok-to-test

#839 Update OWNERS
  OWNERS
Labels: approved
